

<form class="boeken" action="/profiel" method="post">

  <label for="Boek 1">Favoriete boek 1</label>
  <input type="text" name="Boek 1" value="Boek 1">

  <label for="Boek 1">Favoriete boek 2</label>
  <input type="text" name="Boek 2" value="Boek 2">

  <label for="Boek 1">Favoriete boek 3</label>
  <input type="text" name="Boek 3" value="Boek 3">

  <button type="submit" formaction="">Submit</button>

</form>
