

<form class="boeken" action="/matches" method="POST">



  <input type="text" name="book1" value="Favoriete boek 1">

  <input type="text" name="book2" value="Favoriete boek 2">

  <input type="text" name="book3" value="Favoriete boek 3">

  <button type="submit" formaction="/profiel">Vind mijn match</button>

</form>
