

<form class="boeken" action="/matches" method="POST">


  <label for="book1"></label>
  <input type="text" name="book1" value="Favoriete boek 1">

  <label for="book2"></label>
  <input type="text" name="book2" value="Favoriete boek 2">

  <label for="book3"></label>
  <input type="text" name="book3" value="Favoriete boek 3">

  <button type="submit" formaction="/profiel">Vind mijn match</button>

</form>
