

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="matches">Matches</a></li>
    <li><a href="profiel">Profiel</a></li>
  </ul>
  <a href="/"><img src="../static/public/images/nextreadlogo.png" alt="logo"></a>
</nav>
