
<% for (var index = 0; index < findBook.length; index++) { %>
<div class="profielen">

  <ul>
    <li>
      <img src="../static/public/images/profiel1.jpeg" alt="profiel1">
    </li>
    <li>
      <h2>Naam</h2>
    </li>

    <li><%= findBook[0].book1 %></li>
    <li><%= findBook[0].book2 %></li>
    <li><%= findBook[0].book3 %></li>

  </ul>

</div>
 <% } %>
