
<div class="profielen">
  <ul>
    <li>
      <img src="../static/public/images/profiel1.jpeg" alt="profiel1">
    </li>
    <li>
      <h2>Naam</h2>
    </li>
    <li>
      <p>Favoriete Genres</p>
    </li>

  </ul>

  <ul>
    <li>
      <img src="../static/public/images/profiel2.jpeg" alt="profiel2">
    </li>
    <li>
      <h2>Naam</h2>
    </li>
    <li>
      <p>Favoriete Genres</p>
    </li>

  </ul>

  <ul>
    <li>
      <img src="../static/public/images/profiel3.jpeg" alt="profiel3">
    </li>
    <li>
      <h2>Naam</h2>
    </li>
    <li>
      <p>Favoriete Genres</p>
    </li>

  </ul>

  <ul>
    <li>
      <img src="../static/public/images/profiel4.jpeg" alt="profiel4">
    </li>
    <li>
      <h2>Naam</h2>
    </li>
    <li>
      <p>Favoriete Genres</p>
    </li>

  </ul>

</div>
