<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>example</title>
    <link rel="style.css" href="static/pu/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap" rel="stylesheet">

  </head>
  <body>

<% const naam = 'Nora' %>

  <h1>Next Read</h1>
  <p>Welkom, <%= naam %> bij NextRead! Ontmoet mensen die van dezelfde boeken houden of juist van een ander genre.</p>

  </body>
</html>
