<%- include ("partials/head"); %>
<body>
  <%- include ("partials/nav"); %>
  <section>

    <h1>Next Read</h1>

    <p>Welkom bij NextRead! Ontmoet mensen die van dezelfde boeken houden of juist van een ander genre. Het werkt zo: vul in het formulier 3 van je favoriete boeken in en krijg matches met mensen die ook van die boeken houden.</p>

    <a href="/profiel">Start</a>
  </section>

  <section>
    <h2>Profiel</h2>

    <p>Vind jou match op basis van je favoriete boeken.</p>

    <%- include ("partials/boeken"); %>
  </section>

  <%- include ("partials/footer"); %>
  <script src="./js/script.js"></script>
</body>

</html>
