<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>example</title>
    <link rel="stylesheet" href="./static/public/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap" rel="stylesheet">

  </head>
  <body>

     <%- include ("partials/nav"); %>

  <h1>Next Read</h1>
  <p>Welkom, bij NextRead! Ontmoet mensen die van dezelfde boeken houden of juist van een ander genre.</p>

  <a class="maakprofiel" href="profiel">Vind jouw match!</a>



<%- include ("partials/footer"); %>

  </body>
</html>
