
    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>example</title>
        <link rel="stylesheet" href="./static/public/styles/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap" rel="stylesheet">

      </head>
      <body>

         <%- include ("partials/nav"); %>

      <h1>Matches</h1>
      
      <div class="matches">
          <%- include ("partials/profielen"); %>
      </div>

    <%- include ("partials/footer"); %>

      </body>
    </html>
