<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profiel</title>
      <link rel="stylesheet" href="./static/public/styles/style.css">
  </head>
  <body>

   <%- include ("partials/nav"); %>

    <h1>Profiel</h1>

  <%- include ("partials/boeken"); %>

 <footer> <%- include ("partials/footer"); %></footer>
  </body>
</html>
