<%- include ("partials/head"); %>
  <body>

   <%- include ("partials/nav"); %>

    <h1>Profiel</h1>
    <p>Vind jou match op basis van je favoriete boeken.</p>

  <%- include ("partials/boeken"); %>

 <footer> <%- include ("partials/footer"); %></footer>
  </body>
</html>
